---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/kazemihabib",
		name: "mdi:github",
	},
	{
		friendlyName: "Stack Overflow",
		link: "https://stackoverflow.com/users/4146943/habib-kazemi",
		name: "mdi:stackoverflow",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/kazemihabib/",
		name: "mdi:linkedin",
	},
	{
		friendlyName: "Email",
		link: "mailto:hbkazemi96@gmail.com",
		name: "mdi:email", // You might need to find the correct icon name
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link inline-block"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-8 w-8" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
